.footer-masselot {
  width: 90%;
  max-width: 130rem;
  padding: 5rem 4rem;
  margin: 10rem auto 4rem;
  display: flex;
  justify-content: space-between;
  font-family: $font-regular;
  box-shadow: 0 0 20px 0 $color-primary, inset 0 0 20px 0 $color-primary;
  border: solid 3px #ff9d4b;
  border: solid 3px $color-primary;

  @include desktop-max {
    padding: 3rem 4rem;
  }

  @include tablet-max {
    flex-direction: column;
  }
}

.footer-masselot_ideo {
  display: block;
  width: 5.7rem;
  height: 5.9rem;
  color: $color-primary;
  text-shadow: 0 0 2rem $color-primary, 0 0 .8rem $color-primary;

  @include desktop-max {
    width: 4.8rem;
    height: 5rem;
  }

  @include tablet-max {
    margin-bottom: 2rem;
  }
}

.footer-masselot__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  list-style-type: none;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 0 2rem #fff, 0 0 .8rem #fff;
  text-transform: uppercase;

  @include desktop-max {
    font-size: 1.5rem;
  }

  @include tablet-max {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-masselot__item {

  a, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
  }

  @include tablet-max {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
