.burger {
  padding-top: 2rem;
  position: relative;
  right: rem(10);
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
  .burger__line {
    display: block;
    margin-bottom: rem(15);
    border-bottom: rem(2) solid $white;
    width: 8%;
  }
}
.closeMenu {
  position: absolute;
  top: 4rem;
  right: 8%;
  z-index: 999;

  @include mobile-masselot {
    right: 6%;
  }
  // margin-bottom: rem(30);
  cursor: pointer;
  .closeMenu__line {
    display: block;
    margin-bottom: rem(10);
    border-bottom: rem(3) solid $white;
    width: rem(40);
    &:first-child {
      transform: rotate(-45deg);
    }
    &:last-child {
      transform: rotate(45deg);
      margin-top: rem(-12);
    }
  }
}

.zone-a {
  @include mobile {
    width: 90%;
    margin: auto;
  }
  display: flex;
  width: 90%;
  max-width: 130rem;
  margin: rem(20) auto;
  .zone-a__nav {
    @include mobile {
      position: relative;
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
      border: none;
      box-shadow: none;
    }
    margin-bottom: rem(50);
    border: rem(1) solid $main-orange;
    box-shadow: 0 0 rem(10) 0 $main-orange, inset 0 0 rem(10) 0 $main-orange;
  }
  .zone-a__nav__container {
    @include mobile {
      display: none;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .zone-a__nav__list {
      display: flex;
      align-items: center;
      list-style: none;
      height: rem(80);
      padding: 0 rem(20);
      transition: $transition-out-hover;
      &.is-active {
        background-color: $main-orange;
      }
      cursor: pointer;
      &:hover {
        background-color: $main-orange;
        transition: $transition-out-hover;
      }
    }
  }
  .zone-a__nav__container--mobile {
    display: block;
    height: rem(100);
    @include tablet {
      display: none;
    }
    .zone-a__nav__container-list {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      background-image: url('../images/background.jpg');
      position: absolute;
      top: -13px;
      width: 115%;
      height: 103vh;
      transform: translateX(-108%);
      transition: $transition-out-hover;
      &.is-active {
        transform: translateX(-8%);
        transition: $transition-out-hover;
      }
    }
    .zone-a__nav__list {
      margin-bottom: 50px;
      list-style: none;
    }
  }
  .zone-a__test {
    margin-left: rem(50);
    @include mobile {
      width: 100%;
      margin-left: 0;
    }
    @include tablet {
      flex: 4;
    }
    @include desktop {
      flex: 5;
    }
  }
  .zone-a__nav__link {
    cursor: pointer;
    list-style: none;
    color: $white;
    font-size: rem(45);
    text-transform: uppercase;
    font-family: $font-medium;
    text-shadow: 0 0 20px $white, 0 0 8px $white;
    @include tablet {
      font-size: rem(16);
    }
    @include desktop {
      font-size: rem(45);
    }
  }
  .zone-a__logo {
    @include mobile {
      display: none;
    }
    @include tablet {
      flex: 2;
    }
    @include desktop {
      flex: 1;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: rem(30) 0;
    width: 11%;
    min-height: rem(350);
    border: rem(1) solid $main-orange;
    box-shadow: 0 0 rem(10) 0 $main-orange, inset 0 0 rem(10) 0 $main-orange;
  }
  .zone-a__content {
    @include mobile {
      margin-top: 0;
      margin-left: 0;
      width: 100%;
    }
    min-height: rem(450);
    border: rem(1) solid $main-orange;
    box-shadow: 0 0 rem(10) 0 $main-orange, inset 0 0 rem(10) 0 $main-orange;
  }
  .zone-a__content__text {
    color: $white;
    font-size: rem(20);
    font-family: $font-regular;
    padding: rem(20) rem(100);
    text-align: left;
    text-shadow: 0 0 20px $white, 0 0 8px $white;
    @include desktop {
      width: 55%;
      padding: 2rem 0;
    }
    @include tablet-max {
      padding: 2rem 1rem;
    }
  }
  .zone-a__content__text__title {
    text-transform: uppercase;
    font-size: 3.2rem;
    color: $white;
    font-family: $font-regular;
    @include tablet-max {
      margin-bottom: 1rem;
    }
  }
  .zone-a__content__text__content {
    font-size: 2.6rem;
    color: $white;
    font-family: $font-regular;

    @include tablet-max {
      font-size: 2rem;
    }
  }
  .zone-a__logo__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: rem(455);
  }
  .zone-a__logo__span {
    font-family: $font-medium;
    font-size: rem(70);
    color: $main-orange;
    text-transform: uppercase;
  }
  .zone-a__article__medias {
    width: 100%;
    @include desktop {
      width: 40%;
    }
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      @include desktop {
        width: auto;
      }
    }
  }
  .zone-a__article {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
}
