.swiper-container {
  height: 350px;
  width: 150vw !important;
  margin:  0 0 0 -25vw !important;
}

.swiper-wrapper{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

.swiper-slide {
  transition: width 0.5s !important;
  display: flex;
  align-items: center;
}

.swiper-slide .slide {
  transition: height 0.5s !important;
  height: 60%;
  display: flex;
}

.swiper-slide-active .slide {
  height: 100%;
}

.zone-e {
  color: #fff;
  text-shadow: 0 0 2rem #ffffff, 0 0 .8rem #ffffff;
  font-family: "Klavika-regular";
    //font-family: $font-regular;
}

.zone-e__title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 2em 0;
}

.zone-e__title {
  text-align: center;
}

.zone-e .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 8px;
  border: .3rem solid #ff9d4b;
  box-shadow: 0 0 10px 0 #ff9d4b, inset 0 0 10px 0 #ff9d4b;
}

.zone-e .card__img {
  width: 30%;
}

.zone-e .card__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zone-e .card__content .content__paragraph {
  font-size: 16px;
}

.zone-e .card__content .content__title {
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .swiper-container {
    height: auto;
  }

  .zone-e .card__img {
    width: 100%;
    height: 250px;
  }

  .zone-e .card__content {
    width: 90%;
  }

  .zone-e .card__content .content__title,
  .zone-e .card__content .content__paragraph {
    margin: 0 0 0.5em 0;
  }
}
