div.zone-b
  h2.masselot-title Vos nuit s'améliorent chaque jour
  div.masselot-container
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape1.png"))
      h3.masselot-subtitle 1. Collez l'appareil derrière votre oreille
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape2.png"))
      h3.masselot-subtitle 2. Répondez aux quelques questions de Mako
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape3.png"))
      h3.masselot-subtitle 3. Profitez de votre rêve et d'un sommeil profond
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
