div.zone-c
  h2.masselot-title Pourquoi utiliser Yume ?
  div.masselot-container
    div.masselot-item
      h3.masselot-subtitle Un sommeil paisible et reposant
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
    div.masselot-item
      h3.masselot-subtitle Des rêves uniques et personnalisés
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
    div.masselot-item
      h3.masselot-subtitle Des données accessibles à tout moment
      p.masselot-description Donec facilisis vulputate sapien, id dictum felis condimentum nec. Etiam eget lobortis turpis, ac porta ipsum.
    
  
