.zone-b, .zone-c {
  padding: 6.5rem 2rem 3.5rem;
  width: 90%;
  max-width: 130rem;
  background: pink;
  font-family: $font-regular;
  border: .3rem solid $color-primary;
  box-shadow: 0 0 2rem 0 $color-primary;
  text-shadow: 0 0 2rem #ffffff, 0 0 .8rem #ffffff;
  color: #fff;
}

.zone-b {
  margin: 6rem auto;
}

.masselot-title, .masselot-subtitle {
  text-transform: uppercase;
}

.masselot-title {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 5.5rem;
}

.masselot-subtitle {
  margin-top: .5rem;
  font-size: 3.1rem;
}

.masselot-container {
  display: flex;
  justify-content: space-between;
}

.masselot-item{
  width: 33%;
}

.zone-b__img {
  display: block;
  max-width: 100%;
  margin-bottom: 3rem;
  border: .3rem solid $color-primary;
  box-shadow: 0 0 20px 0 $color-primary, inset 0 0 20px 0 $color-primary;
}

.masselot-description {
  font-size: 2.4rem;
}
