<footer class="footer-masselot">
  img.footer-masselot_ideo(src=require("../../images/夢.png"))
  ul.footer-masselot__list
    li.footer-masselot__item 
      a(href="#") &copy;YUME 2049
    li.footer-masselot__item 
      a(href="#") Particuliers
    li.footer-masselot__item
      a(href="#") Professionnels
    li.footer-masselot__item 
      a(href="#") Support
    li.footer-masselot__item 
      a(href="#") Mentions Légales
</footer>
</body>
</html>
