<footer class="footer">
  <h2 class="footer__title">N'attendez plus pour bien rêver</h2>
  <h3 class="footer__subtitle">Adoptez yume dès maintenant</h3>
  <button class="footer__CTA">Commander</button>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.esm.bundle.js"></script>
<script src="./../js/swiper.min.js"></script>
<script src="./../js/custom-swiper.js"></script>
</body>
</html>
