<div class="zone-a">
<div class="zone-a__logo">
        <p class="zone-a__logo__container">
            <span class="zone-a__logo__span">夢</span>
            <span class="zone-a__logo__span">Y</span>
            <span class="zone-a__logo__span">U</span>
            <span class="zone-a__logo__span">M</span>
            <span class="zone-a__logo__span">E</span>
        </p>
</div>
    <div class="zone-a__test">
        <nav class="zone-a__nav">
        <ul class="zone-a__nav__container">
            <li class="zone-a__nav__list is-active">
                <a class="zone-a__nav__link">Particuliers</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Professionnels</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Support</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Commander</a>
            </li>
        </ul>
        <ul class="zone-a__nav__container--mobile">
            <div class="burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </div>
            <div class="zone-a__nav__container-list js-element-listMobile">
            <div class="closeMenu">
                <span class="closeMenu__line"></span>
                <span class="closeMenu__line"></span>
            </div>
                <li class="zone-a__nav__list">
                        <a class="zone-a__nav__link">Particuliers</a>
                </li>
                <li class="zone-a__nav__list">
                        <a class="zone-a__nav__link">Professionnels</a>
                </li>
                <li class="zone-a__nav__list">
                        <a class="zone-a__nav__link">Support</a>
                </li>
                <li class="zone-a__nav__list">
                        <a class="zone-a__nav__link">Commander</a>
                </li>
            </div>
        </ul>
    </nav>
        <div class="zone-a__content">
            <div class="zone-a__article">
                <div class="zone-a__article__medias">
                    img(src=require("../../images/etape3.png"))
                </div>
                <div class="zone-a__content__text">
                    <h2 class="zone-a__content__text__title">Redécouvrez le rêve</h2>
                    <p class="zone-a__content__text__content">Yume est la garante de votre sommeil. Avec elle, vous ne subirez plus de nuits agitées. Elle vous propose chaque jour des rêves personnalisés pour vous remettre de votre journée, et vous permettre un sommeil réparateur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
