<div class="footer">
  <h2 class="footer__title">N'attendez plus pour bien rêver</h2>
  <h3 class="footer__subtitle">Adoptez yume dès maintenant</h3>
  <button class="footer__CTA">Commander</button>
</div>
