div.zone-c
  h2.masselot-title Pourquoi utiliser Yume ?
  div.masselot-container
    div.masselot-item
      h3.masselot-subtitle Un sommeil paisible et reposant
      p.masselot-description Finies les nuits agitées. Avec Yume, vos nuits seront continues, calmes et réparatrices. 
    div.masselot-item
      h3.masselot-subtitle Des rêves uniques et personnalisés
      p.masselot-description Yume garde en mémoire toutes vos réponses et réactions pour optimiser les rêves de jour en jour.
    div.masselot-item
      h3.masselot-subtitle Des données accessibles à tout moment
      p.masselot-description Grâce à l’application Yume, vous pouvez trouver vos données et analyser votre sommeil partout.
