div.zone-b
  h2.masselot-title Vos nuit s'améliorent chaque jour
  div.masselot-container
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape1.png"))
      h3.masselot-subtitle 1. Collez l'appareil derrière votre oreille
      p.masselot-description Notre appareil est petit et léger pour ne pas vous déranger. En le collant proche de l’oreille interne, vous permettez à Yume de communiquer avec votre corps.
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape2.png"))
      h3.masselot-subtitle 2. Répondez aux quelques questions de Mako
      p.masselot-description Pour cibler au mieux votre rêve, Yume vous posera trois questions au démarrage. Rien de plus. Le reste dépendera de vos émotions durant la journée passée.
    div.masselot-item
      img.zone-b__img(src=require("../../images/etape3.png"))
      div.masselot-text
        h3.masselot-subtitle 3. Profitez de votre rêve et d'un sommeil profond
        p.masselot-description Grâce à Yume, vous ne vous réveillerez plus la nuit. Avec un suivi de votre activité corporelle et cérébrale, Yume adapte son rêve pour que votre nuit soit la plus paisible possible.
