section.zone-d
  h2.zone-d__title Suivez votre sommeil
  div.zone-d__container
    img.zone-d__img.zone-d__img-tablet(src=require("../../images/screen3.png"), alt="")
    img.zone-d__img(src=require("../../images/screen1.png"), alt="")
    img.zone-d__img.zone-d__img-mobile(src=require("../../images/screen2.png"), alt="")
