<div class="zone-a">
    <nav class="zone-a__nav">
        <ul class="zone-a__nav__container">
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Particuliers</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Professionnels</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Support</a>
            </li>
            <li class="zone-a__nav__list">
                <a class="zone-a__nav__link">Commander</a>
            </li>
        </ul>
    </nav>
    <div class="zone-a__logo">
        <p class="zone-a__logo__container">
            <span class="zone-a__logo__span">夢</span>
            <span class="zone-a__logo__span">Y</span>
            <span class="zone-a__logo__span">U</span>
            <span class="zone-a__logo__span">M</span>
            <span class="zone-a__logo__span">E</span>
        </p>
    </div>
    <div class="zone-a__content">
        <p class="zone-a__content__text">Redecouvre blablablabla</p>
    </div>
</div>