// Main Stylesheet file
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: wrap;
}

h1 {

}

.medium {
  width: 50%;
  height: 100px;
  background: red;
}

.large {
  width: 100%;
  height: 100px;
  background: blue;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

  .medium {
    width: 100%;
  }
  
}
