extends html/layout.pug

block content
    include ./html/components/zone-a.pug
    include ./html/components/zone-b.pug
    include ./html/components/zone-c.pug
    include ./html/components/zone-d.pug
    include ./html/components/zone-e.pug
    include ./html/components/zone-f.pug
    include ./html/components/footer.pug
    
