extends html/layout.pug

block content
    include ./html/components/zone-a.pug
    include ./html/partials/zone-b.pug
    include ./html/partials/zone-c.pug
    include ./html/components/zone-e.pug
    include ./html/components/footer.pug
