@font-face {
  font-family: "Klavika-medium";
  src: url("./../fonts/Klavika-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Klavika-regular";
  src: url("./../fonts/Klavika-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
