// ------------------------------------------------------------
// VARIABLES
// ------------------------------------------------------------

// -------------------------
// Path
// -------------------------
$base-images: "../images";
$base-fonts: "../fonts";

// -------------------------
// Colors
// -------------------------

// -------------------------
// Typography
// -------------------------

/* -----
Font size
----- */

/* -----
Font Family
----- */

$font-medium: "Klavika-medium", serif;
$font-regular: "Klavika-regular", serif;

// -------------------------
// Sizes
// -------------------------
/* -----
Breakpoints
----- */
$breakpoint-phablet: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-header: 1180px;
$breakpoint-desktop-xl: 1440px;

/* -----
Others
----- */
$wrapper-max: 1500px;
$wrapper-width-md: 90%;
$wrapper-width-lg: 90%;

$vertical-spacing-mobile: 50px;
$vertical-spacing-tablet: 60px;
$vertical-spacing-desktop: 80px;

$product-top-watch-top: 90px;

$variation-espacement-mobile: 5px;
$variation-espacement-tablet: 15px;
$variation-espacement-desktop: 30px;
$variation-espacement-desktop-xl: 60px;
$variation-gap-calc-ie: 1px;

$height-desktop-header: 160px;
$height-sticky-header: 60px;
$height-mobile-header: 50px;
$height-submenu: 140px;

/* -----
Font size
----- */
$px-base: 16;

// -------------------------
// Easing
// -------------------------
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

/* -----
Transition
----- */
$transition-in-duration: 0.2s;
$transition-in-ease: $ease-in-sine;
$transition-out-duration: 0.5s;
$transition-out-ease: $ease-out-sine;
$transition-in-hover: 0.15s $ease-in-quad;
$transition-out-hover: 0.3s $ease-out-quad;
